.customDropDown a:hover {
   background-color: #433b33 !important;
   color: white !important;
   border: 1px #433b33 !important;
}
.customDropDown {
   cursor: pointer;
   font-size: 12px;
}
.dropDownMenu {
   border: 2px solid #433b33 !important;
   /* margin-left: 4rem !important; */
}
.dropDownOrderMenu {
   border: 2px solid #433b33 !important;
   margin-left: 4rem !important;
}
.dropDownItem {
   display: block;
   width: 100%;
   padding: 0.25rem 1.5rem;
   clear: both;
   font-weight: 400;
   color: #212529;
   text-align: inherit;
   white-space: nowrap;
   background-color: transparent;
   border: 0;
}
