.App {
   text-align: center;
}

.App-logo {
   height: 40vmin;
   pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
   .App-logo {
      animation: App-logo-spin infinite 20s linear;
   }
}

.App-header {
   background-color: #282c34;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   font-size: calc(10px + 2vmin);
   color: white;
}

.App-link {
   color: #61dafb;
}

@keyframes App-logo-spin {
   from {
      transform: rotate(0deg);
   }
   to {
      transform: rotate(360deg);
   }
}

.routePlanDiv .react-daterange-picker__button svg {
   height: 16px !important;
   width: 15px !important;
}
.routePlanDiv .react-daterange-picker__wrapper {
   max-width: 190px;
   font-size: 10px;
   background-color: white;
   border: 1px solid #ced4da !important;
}
.routePlanDiv .react-daterange-picker__range-divider {
   font-size: 17px;
}

.routePlanDiv .react-calendar {
   font-size: 15px;
}

.routePlanDiv .react-daterange-picker__inputGroup__input {
   min-width: 4px !important;
}
.routePlanDiv .react-daterange-picker__button {
   padding: 5px 3px !important;
}

/* datetimerangepicker */
.routePlanDiv .react-datetimerange-picker__wrapper {
   max-width: 450px;
   font-size: 15px;
   background-color: white;
   border: 1px solid #ced4da !important;
}
.routePlanDiv .react-datetimerange-picker__inputGroup__input {
   min-width: 4px !important;
}
.routePlanDiv .react-datetimerange-picker__range-divider {
   font-size: 19px !important;
}
.legends {
   font-size: 12px;
   font-family: sans-serif;
}
rect {
   stroke-width: 2;
}

.routplaninNav .logout-menu .dropdown-menu {
   min-width: 6.5rem !important;
   margin: 0px !important;
   border-radius: 0px !important;
   /* max-width: 7.5rem !important; */
}

.routplaninNav .lng-menu .dropdown-menu {
   min-width: 8.7rem !important;
   margin: 0px !important;
   border-radius: 0px !important;
   text-align: center;
   /* max-width: 7.5rem !important; */
}

.bg-brown {
   background-color: #433b33;
}
.bg-light-brown {
   background-color: #ccc2a7;
}

.btn-light-brown {
   color: white !important;
   border-color: #ccc2a7;
   background-color: #ccc2a7;
   border-radius: 0px;
}
.btn-light-brown:hover {
   color: white !important;
   border-color: #8f8b80 !important;
   background-color: #8f8b80 !important;
}
.btn-light-brown2 {
   color: black !important;
}
.btn-light-brown2:hover {
   color: black !important;
   background-color: #ccc2a7 !important;
   border-radius: 0px;
}
.livepopcheckright {
   top: 0px !important;
   left: -209px !important;
}
.livepopcheckleft {
   left: 113px !important;
}
.setMousePointer {
   cursor: pointer;
}
.btnBrown {
   color: white !important;
   border-color: #433b33;
   background-color: #433b33;
}
.btnBrown:hover {
   color: white !important;
   border-color: #8f8b80;
   background-color: #8f8b80;
}
#tripplandropdown-button-drop-up {
   color: white !important;
}
#tripdropdown-button-drop-up {
   color: white !important;
}
.btnGreen {
   background-color: #1a6734;
   border-color: #1a6734;
   color: white;
}
.btnGreen:hover {
   background-color: #086e2a;
   border-color: #086e2a;
   color: white;
}
.page-link {
   color: #433b33;
}
.page-link:hover {
   color: #433b33;
}
.page-link.a:focus {
   outline: none;
}
.page-item.active .page-link {
   z-index: 1;
   color: #fff;
   border-color: #433b33;
   background-color: #433b33;
}

.infoModalBoostrapTable {
   max-height: 40vh !important;
   overflow-y: auto;
   overflow-x: hidden;
}

.infoModalBoostrapTable {
   scrollbar-width: thin; /* "auto" or "thin"  */
   scrollbar-color: #1a6734 #f5f5f5;
}
.infoModalBoostrapTable::-webkit-scrollbar {
   -moz-appearance: none !important;
   width: 8px;
   /* color: brown; */
   background-color: #f5f5f5;
}
.infoModalBoostrapTable::-webkit-scrollbar-thumb {
   -moz-appearance: none !important;
   border-radius: 10px;
   -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
   box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
   background-color: #1a6734;
}

.infoModalBoostrapTable::-webkit-scrollbar-track {
   -moz-appearance: none !important;
   -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
   box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
   border-radius: 10px;
   background-color: #f5f5f5;
   border: 1px solid #1a6734;
}
.routePlanBoostrapTable {
   max-height: 400px !important;
   overflow: auto;
   /* overflow-y: scroll; */
   overflow-x: hidden;
}

.routePlanBoostrapTable {
   scrollbar-width: thin; /* "auto" or "thin"  */
   scrollbar-color: #1a6734 #f5f5f5;
}
.routePlanBoostrapTable::-webkit-scrollbar {
   -moz-appearance: none !important;
   width: 8px;
   /* color: brown; */
   background-color: #f5f5f5;
}
.routePlanBoostrapTable::-webkit-scrollbar-thumb {
   -moz-appearance: none !important;
   border-radius: 10px;
   -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
   box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
   background-color: #1a6734;
}

.routePlanBoostrapTable::-webkit-scrollbar-track {
   -moz-appearance: none !important;
   -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
   box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
   border-radius: 10px;
   background-color: #f5f5f5;
   border: 1px solid #1a6734;
}
.react-bootstrap-table-page-btns-ul {
   margin-right: 13px !important;
}

.modal-open .modal {
   max-height: 95%;
   overflow-y: auto;
   overflow-x: hidden !important;
}

@media only screen and (max-width: 768px) {
   /* For mobile phones: */
   .livepopcheckleft {
      font-size: 60%;
   }
   .livepopcheckright {
      font-size: 60%;
   }
   .legends {
      font-size: 10px;
   }
}
#cco-map {
   width: 100%;
   height: 400px;
   background-color: grey;
}
