.toastContainer {
    min-height: 37px !important;
 }
 .toastContainerSuccess {
    min-height: 37px !important;
    background-color: #1a6734;
 }
 .toastProgressBar {
    /* color: #433b33; */
    background-color: #433b33;
 }