@media all and (min-width: 480px) {
   .Login {
   }

   .Login form {
      margin: 0 auto;
      max-width: 320px;
   }
}

.toastContainer {
   min-height: 37px !important;
}
.toastContainerSuccess {
   min-height: 37px !important;
   background-color: #1a6734;
}
.toastProgressBar {
   /* color: #433b33; */
   background-color: #433b33;
}
.loadmain {
  /* background-color: red; */
  filter: alpha(opacity=70);
  opacity: 0.7;
}
.loadmain:before {
  position: absolute;
  opacity: 0.7;
  content: '';
  width: 100%;
  background: grey;
  height: 100%;
  left: 0;
  z-index: 1;
}


.changePass:hover {
  -webkit-box-shadow: 0 5px 0 #433b33; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 0 5px 0 #433b33; /* Firefox 3.5 - 3.6 */
  box-shadow: 0 5px 0 #433b33 !important;
  font-weight: bold !important;
}
