.progress {
   height: 5px !important;
   /* margin-left: -75px;
   margin-right: -5px;*/
   margin-top: 10px;
}
.customTextFont {
   font-size: 15px;
}
.toastContainer {
   min-height: 37px !important;
}
.cardWrapper {
   max-height: 80vh;
   overflow-y: scroll;
   overflow-x: hidden;
}
.cardWrapper {
   scrollbar-width: thin; /* "auto" or "thin"  */
   scrollbar-color: #1a6734 #f5f5f5;
}
.cardWrapper::-webkit-scrollbar {
   -moz-appearance: none !important;
   width: 8px;
   /* color: brown; */
   background-color: #f5f5f5;
}
.cardWrapper::-webkit-scrollbar-thumb {
   -moz-appearance: none !important;
   border-radius: 10px;
   -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
   box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
   background-color: #1a6734;
}

.cardWrapper::-webkit-scrollbar-track {
   -moz-appearance: none !important;
   -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
   box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
   border-radius: 10px;
   background-color: #f5f5f5;
   border: 1px solid #1a6734;
}
.textFontSize {
   font-size: 13px;
   cursor: pointer;
}

.toastContainerSuccess {
   min-height: 37px !important;
   background-color: #1a6734;
}
.refreshButton {
   font-size: 10px;
}
.loadmain {
   /* background-color: red; */
   filter: alpha(opacity=70);
   opacity: 0.7;
}
.loadmain:before {
   position: absolute;
   opacity: 0.7;
   content: '';
   width: 100%;
   background: grey;
   height: 100%;
   left: 0;
   z-index: 1;
}
