.summaryDiv .card {
   width: 100%;
   height: 100%;
   border-radius: 0px !important;
   box-shadow: 1px 6px 10px 6px rgba(0, 0, 0, 0.49) !important;
}

.routeplanDiv small {
   font-size: 63%;
}

.color-navbar .up-select {
   font-size: 56%;
   font-weight: bold;
}
.buttonShadow {
   font-size: 56%;
   font-weight: bold;
   box-shadow: 3px 15px 14px -11px rgba(0, 0, 0, 0.49) !important;
}

.buttonStyle {
   font-size: 56%;
   font-weight: bold;
}

/* .routeplanDiv i {
   font-size: 80%;
   font-weight: bold;
   box-shadow: 3px 15px 14px -11px rgba(0, 0, 0, 0.49) !important;
} */

.inputShadow {
   /* box-shadow: 3px 15px 14px -11px rgba(0, 0, 0, 0.49) !important; */
   font-size: 60%;
   font-weight: bold;
   box-shadow: none;
}
.datePickerinputShadow {
   font-size: 100%;
   font-weight: bold;
   box-shadow: none;
   /* max-height: 100%; */
}
.datePickerdiv {
   font-size: 68%;
   font-weight: bold;
   box-shadow: none;
   /* max-height: 40%; */
}
.routePlanNav {
   background-color: white;
   -webkit-box-shadow: 6px 3px 5px 6px #ccc; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
   -moz-box-shadow: 6px 3px 5px 6px #ccc; /* Firefox 3.5 - 3.6 */
   box-shadow: 6px 3px 5px 6px #ccc;
   border-bottom: 1px solid rgba(0, 0, 0, 0.49);
}

.routePlanTabs {
   background-color: #ccc2a7;
   /* -webkit-box-shadow: 6px 3px 5px 6px #ccc; */
   /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
   /* -moz-box-shadow: 6px 3px 5px 6px #ccc; */
   /* Firefox 3.5 - 3.6 */
   /* box-shadow: 25px 3px 5px 6px #ccc; */
   border-bottom: 1px solid rgba(0, 0, 0, 0.49);
   font-size: 14px;
   cursor: pointer;
   max-width: 85.6%;
   color: #613939;
}

.allRouteTab {
   background-color: #ccc2a7;
   color: #613939;
   cursor: pointer;
   margin-bottom: -1px !important;
}

.allRouteTab .navLink.active {
   background-color: #433b33 !important;
   border-radius: 0px !important;
   color: #fff;
}
.allRouteTab a:hover {
   background-color: #433b33 !important;
   border-radius: 0px !important;
   color: #fff !important;
}

.routePlanVerTabs {
   background-color: #ccc2a7;
   border-bottom: 1px solid rgba(0, 0, 0, 0.49);
   font-size: 14px;
   /* max-width: inherit; */
   color: #613939;
   cursor: pointer;
}
.routePlanTabs .navLink {
   border: 1px solid transparent;
   /* border-top-left-radius: 0.25rem;
   border-top-right-radius: 0.25rem; */
   display: block;
   padding: 0.5rem 1rem;
   border-right: 1px solid #433b33 !important;
}

.routePlanVerTabs .navLink {
   border: 1px solid transparent;
   border-top-left-radius: 0.25rem;
   border-top-right-radius: 0.25rem;
   display: block;
   padding: 0.5rem 1rem;
   border-bottom: 1px solid #433b33 !important;
}

.routePlanTabs .navItem {
   margin-bottom: -1px;
   border-color: white;
   width: 33.3%;
   text-align: center;
}

.routePlanTabs .navLink.active {
   background-color: #433b33 !important;
   border-radius: 0px !important;
   color: #fff;
}
.routePlanVerTabs .navLink.active {
   background-color: #433b33 !important;
   border-radius: 0px !important;
   color: #fff;
}
.routePlanTabs a:hover {
   background-color: #433b33 !important;
   border-radius: 0px !important;
   color: #fff !important;
}
.routePlanVerTabs a:hover {
   background-color: #433b33 !important;
   border-radius: 0px !important;
   color: #fff !important;
}

.routePlanNav .navLink {
   padding-right: 0.5rem;
   padding-left: 0.5rem;
   font-size: 12px;
}
.routePlanNav .navLink.active {
   /* background-color:darkred ; */

   box-shadow: 0 7px 0 darkred;
}
.routeplanDiv .setShadow1 {
   background-color: white;
   box-shadow: 6px 9px 2px 6px #ccc;
   -webkit-box-shadow: 6px 9px 2px 6px #ccc; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
   -moz-box-shadow: 6px 9px 2px 6px #ccc; /* Firefox 3.5 - 3.6 */
}
.routeplanDiv .formCheck label {
   font-size: 80%;
}

.routeplanDiv .map-top {
   border-top: 1px solid white;
}
.routePlanNav select {
   font-size: 60%;
   font-weight: bold;
   box-shadow: none;
}

/* .routeplanDiv input[readonly] {
   background-color: white !important;
} */

.routeplanDiv input:focus {
   outline: none;
}

.breadcrumbItem + .breadcrumbItem::before {
   content: '> ';
   font-size: bold;

   /* justify-content: center; */
}
.breadCrumb {
   font-size: 14px;
   padding: 0px;
   background-color: inherit !important;
}
.toastContainer {
   min-height: 37px !important;
}
.toastContainerSuccess {
   min-height: 37px !important;
   background-color: #1a6734;
}
.loadmain {
   /* background-color: red; */
   filter: alpha(opacity=70);
   opacity: 0.7;
}
.loadmain:before {
   position: absolute;
   opacity: 0.7;
   content: '';
   width: 100%;
   background: grey;
   height: 100%;
   left: 0;
   z-index: 1;
}

.dataTableContainer {
   max-height: 470px;
   overflow-y: scroll;
   overflow-x: hidden;
}

.dataTableContainer {
   scrollbar-width: thin; /* "auto" or "thin"  */
   scrollbar-color: #433b33 #f5f5f5;
}
.dataTableContainer::-webkit-scrollbar {
   -moz-appearance: none !important;
   width: 8px;
   /* color: brown; */
   background-color: #f5f5f5;
}
.dataTableContainer::-webkit-scrollbar-thumb {
   -moz-appearance: none !important;
   border-radius: 10px;
   -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
   box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
   background-color: #433b33;
}

.dataTableContainer::-webkit-scrollbar-track {
   -moz-appearance: none !important;
   -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
   box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
   border-radius: 10px;
   background-color: #f5f5f5;
   border: 1px solid #433b33;
}

/* .routeplanDiv  */
