.myContainer {
   display: flex;
   flex-wrap: nowrap;
   flex-direction: row;
   flex: 1 1 0px;
}

.myDatePicker {
   width: 100%;
}
.toastContainer {
   min-height: 37px !important;
}
.toastContainerSuccess {
   min-height: 37px !important;
   background-color: #27ae60;
}
.toastProgressBar {
   /* color: #433b33; */
   background-color: #433b33;
}
