.d3Tip {
   line-height: 1;
   font-weight: bold;
   padding: 12px;
   background: rgba(0, 0, 0, 0.8);
   color: #fff;
   border-radius: 2px;
   opacity: 0;
}

/* Creates a small triangle extender for the tooltip */
/* .d3Tip:after {
   box-sizing: border-box;
   display: inline;
   font-size: 10px;
   line-height: 1;
   color: rgba(0, 0, 0, 0.8);
   content: '\25BC';
   position: absolute;
   text-align: center;
   top: 99.3%;
   right: 40%;
} */

/* Style northward tooltips differently */
.d3Tip.n:after {
   margin: -1px 0 0 0;
   top: 100%;
   left: 0;
}

.d3Tip.top .arrow {
   bottom: 0;
   left: 50%;
   margin-left: -5px;
   border-top: 5px solid #000000;
   border-right: 5px solid transparent;
   border-left: 5px solid transparent;
}

.d3Tip.left .arrow {
   top: 50%;
   right: 0;
   margin-top: -5px;
   border-top: 5px solid transparent;
   border-bottom: 5px solid transparent;
   border-left: 5px solid #000000;
}

.d3Tip.bottom .arrow {
   top: 0;
   left: 50%;
   margin-left: -5px;
   border-right: 5px solid transparent;
   border-bottom: 5px solid #000000;
   border-left: 5px solid transparent;
}

.d3Tip.right .arrow {
   top: 50%;
   left: 0;
   margin-top: -5px;
   border-top: 5px solid transparent;
   border-right: 5px solid #000000;
   border-bottom: 5px solid transparent;
}
