.progress{
    height: 5px !important;
    margin-left: -75px;
    margin-right: -5px;
    margin-top: 10px;
}
.custom-text-font{
    font-size: 15px;
}
.remove-right-grid-space{
    padding-left: 0;
}
.remove-left-grid-space{
    padding-left: 0;
    padding-right: 0;
}
.remove-rounded-corner{
    border-radius: 0;
}