.color-navbar {
  background-color: white;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 3px 3px 5px 6px #ccc; /* Firefox 3.5 - 3.6 */
  box-shadow: 3px 3px 5px 6px #ccc;
  border-bottom: 1px solid black;
}
.navbar-brand {
  font-size: 15px;
}
.dropdown-toggle {
  font-size: 12px;
}
.navbar-nav {
  font-size: 12px;
}
.nav-item,
.nav-link {
  font-size: 12px;
}

/* .navbar-nav a:active {
  text-decoration: underline solid black;
  line-height: 1em;
  color: tomato;
}*/

#basic-navbar-nav .nav-link.active {
  -webkit-box-shadow: 0 5px 0 darkred; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 0 5px 0 darkred; /* Firefox 3.5 - 3.6 */
  box-shadow: 0 5px 0 darkred;
}
