.summary-div .card {
  width: 100%;
  height: 100%;
  border-radius: 0px !important;
  box-shadow: 1px 6px 10px 6px rgba(0, 0, 0, 0.49) !important;
}

.routeplan-div small {
  font-size: 63%;
}

.color-navbar .up-select {
  font-size: 56%;
  font-weight: bold;
}
.routeplan-div .buttonshadow {
  font-size: 56%;
  font-weight: bold;
  box-shadow: 3px 15px 14px -11px rgba(0, 0, 0, 0.49) !important;
}

.routeplan-div i {
  font-size: 80%;
  font-weight: bold;
  box-shadow: 3px 15px 14px -11px rgba(0, 0, 0, 0.49) !important;
}
.routeplan-div .inputshadow {
  box-shadow: 3px 15px 14px -11px rgba(0, 0, 0, 0.49) !important;
}

.routeplan-div .inputshadow {
  box-shadow: 3px 15px 14px -11px rgba(0, 0, 0, 0.49) !important;
  font-size: 56%;
  font-weight: bold;
}
.routeplannav {
  background-color: white;
  -webkit-box-shadow: 6px 3px 5px 6px #ccc; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 6px 3px 5px 6px #ccc; /* Firefox 3.5 - 3.6 */
  box-shadow: 6px 3px 5px 6px #ccc;
  border-bottom: 1px solid rgba(0, 0, 0, 0.49);
}
.routeplannav .nav-link {
  padding-right: 0px;
}
.routeplannav .nav-link.active {
  box-shadow: 0 5px 0 darkred;
}

.routeplan-div .set-shadow1 {
  background-color: white;
  box-shadow: 6px 9px 2px 6px #ccc;
  -webkit-box-shadow: 6px 9px 2px 6px #ccc; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 6px 9px 2px 6px #ccc; /* Firefox 3.5 - 3.6 */
}
.routeplan-div .form-check label {
  font-size: 80%;
}

.routeplan-div .map-top {
  border-top: 1px solid white;
}
.routeplannav select {
  font-size: 56%;
  font-weight: bold;
  box-shadow: none;
}
input[readonly] {
  background-color: white !important;
}

.routeplan-div .react-daterange-picker__button svg {
  height: 16px !important;
  width: 15px !important;
}
.routeplan-div .react-daterange-picker__wrapper {
  max-width: 190px;
  font-size: 10px;
  background-color: white;
  border: 1px solid #ced4da !important;
}
.routeplan-div .react-daterange-picker__range-divider {
  font-size: 17px;
}

.routeplan-div .react-calendar {
  font-size: 15px;
}

.routeplan-div .react-daterange-picker__inputGroup__input {
  min-width: 4px !important;
}
.react-daterange-picker__button {
  padding: 5px 3px !important;
}


/* datetimerangepicker */
.routeplan-div .react-datetimerange-picker__wrapper {
  max-width: 450px;
  font-size: 15px;
  background-color: white;
  border: 1px solid #ced4da !important;
}
.routeplan-div .react-datetimerange-picker__inputGroup__input {
  min-width: 4px !important;
}
.routeplan-div  .react-datetimerange-picker__range-divider{
  font-size: 19px !important;
}