body {
  font-family: 'Poppins', sans-serif;
  background: #fafafa;
}
.react-datepicker-wrapper {
  margin-left: 4px;
}
#sidebar .active > div {
  color: #fff;
  background: black;
  /* background: #6d7fcc; */
}

.card,
.card:hover,
.card:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}
p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
  margin-right: -14px;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

/* button, button:hover, button:focus {
    border-style: none;
    background: none;
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
} */

#sidebar {
  /* don't forget to add all the previously mentioned styles here too */
  background: white;
  color: #fff;
  transition: all 0.3s;
  height: '597px';
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #6d7fcc;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #47748b;
}

#sidebar ul p {
  color: #fff;
  /* padding: 10px; */
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

/* #sidebar ul li button {
    padding: 10px;
    font-size: 1.1em;
    display: block;
} */
#sidebar ul li a:hover {
  color: #7386d5;
  background: #fff;
}

#sidebar .card:hover {
  color: black;
  background: #7386d5;
}

#sidebar .up-select {
  font-size: 56%;
  font-weight: bold;
  box-shadow: 3px 15px 14px -11px rgba(0, 0, 0, 0.49) !important;
}

/* #sidebar ul li button:hover {
    color: #7386D5;
    background: #fff;
} */

#sidebar ul li.active > a,
a[aria-expanded='true'] {
  color: #fff;
  background: black;
  /* background: #6d7fcc; */
}

/* #sidebar ul li.active > button, button[aria-expanded="true"] {
    color: #fff;
    background: black;
    background: #6d7fcc;
}
 */

/* #sidebar ul li.active > button, button[aria-expanded="true"] {
    color: #fff;
    background: black;
 background: #6d7fcc; 
} */
ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
}

/* ul ul button {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
} */

.toastContainer {
  min-height: 37px !important;
}
