body {
   font-family: 'Poppins', sans-serif;
   background: #fafafa;
}
.react-datepicker-wrapper {
   margin-left: 4px;
}
.sideBar .active > div {
   color: #fff;
   background: #433b33;
   /* background: #6d7fcc; */
}
.card {
   cursor: pointer;
}
.card,
.card:focus {
   color: inherit;
   text-decoration: none;
   transition: all 0.3s;
}
.card:hover {
   color: inherit;
   background-color: #ccc2a7;
}
p {
   font-family: 'Poppins', sans-serif;
   font-size: 1.1em;
   font-weight: 300;
   line-height: 1.7em;
   color: #999;
   margin-right: -14px;
}

a,
a:hover,
a:focus {
   color: inherit;
   text-decoration: none;
   transition: all 0.3s;
}

/* button, button:hover, button:focus {
      border-style: none;
      background: none;
      color: inherit;
      text-decoration: none;
      transition: all 0.3s;
  } */

.sideBar {
   /* don't forget to add all the previously mentioned styles here too */
   background: white;
   color: #fff;
   transition: all 0.3s;
   height: '70vh';
   /* height: '100%; */
}

@media only screen and (max-width: 768px) {
   /* For mobile phones: */
   .card {
      font-size: 60%;
   }
}

.sideBar .sidebarHeader {
   padding: 20px;
   background: #6d7fcc;
}

.sideBar ul.components {
   padding: 20px 0;
   border-bottom: 1px solid #47748b;
}

#sidebar ul p {
   color: #fff;
   /* padding: 10px; */
}

.sideBar ul li a {
   padding: 10px;
   font-size: 1.1em;
   display: block;
}

/* #sidebar ul li button {
      padding: 10px;
      font-size: 1.1em;
      display: block;
  } */
.sideBar ul li a:hover {
   color: #7386d5;
   background: #fff;
}

.sideBar .card:hover {
   color: black;
   background: #ccc2a7;
}

.upSelect {
   font-size: 65%;
   font-weight: bold;
   box-shadow: 3px 15px 14px -11px rgba(0, 0, 0, 0.49) !important;
}

.sideBar ul li.active > a,
a[aria-expanded='true'] {
   color: #fff;
   background: #433b33;
   /* background: #6d7fcc; */
}

ul ul a {
   font-size: 0.9em !important;
   padding-left: 30px !important;
   background: #6d7fcc;
}
.toastContainer {
   min-height: 37px !important;
}
.toastContainerSuccess {
   min-height: 37px !important;
   background-color: #1a6734;
}
.toastProgressBar {
   /* color: #433b33; */
   background-color: #433b33;
}
.PopOverText {
   font-size: 12px;
}
.orderCardActive {
   border: 3px solid brown;
}
.rightSideBarScroll {
   height: 80.5vh;
   overflow-y: auto;
   overflow-x: hidden;
}

.rightSideBarScroll::-webkit-scrollbar {
   width: 8px;
   /* color: brown; */
   background-color: #f5f5f5;
}
.rightSideBarScroll::-webkit-scrollbar-thumb {
   /* border-radius: 10px; */
   -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
   box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
   background: #433b33;
}

.rightSideBarScroll::-webkit-scrollbar-track {
   -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
   box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
   border-radius: 10px;
   background-color: #f5f5f5;
   border: 1px solid #433b33;
}
.leftSideBar {
   height: 75.5vh;
   overflow-y: auto;
   overflow-x: hidden;
   margin-right: -14px;
}
.leftSideBar {
   scrollbar-width: thin; /* "auto" or "thin"  */
   scrollbar-color: #1a6734 #f5f5f5;
}

.leftSideBar::-webkit-scrollbar {
   width: 8px;
   /* color: brown; */
   background-color: #f5f5f5;
}
.leftSideBar::-webkit-scrollbar-thumb {
   /* border-radius: 10px; */
   -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
   box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
   background: #433b33;
}

.leftSideBar::-webkit-scrollbar-track {
   -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
   box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
   border-radius: 10px;
   background-color: #f5f5f5;
   border: 1px solid #433b33;
}

.rightSideBarScroll {
   scrollbar-width: thin; /* "auto" or "thin"  */
   scrollbar-color: #1a6734 #f5f5f5;
}
.loadmain {
   /* background-color: red; */
   filter: alpha(opacity=70);
   opacity: 0.7;
}
.loadmain:before {
   position: absolute;
   opacity: 0.7;
   content: '';
   width: 100%;
   background: grey;
   height: 100%;
   left: 0;
   z-index: 1;
}

.tripPopUp {
   background-color: white;
   border: 1px solid #433b33;
   color: black;
}
